.u-section-1 {
  background-image: linear-gradient(#478ac9, #adf6f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 2031px;
}

.u-section-1 .u-group-1 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  min-height: 359px;
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 45px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 274px;
  margin: 22px auto 0 9px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: -237px 80px 0 314px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -266px 138px 0 372px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 239px 388px 0 auto;
  padding: 11px 44px 12px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 0, 0) !important;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  text-transform: none;
  margin: -14px auto 0 9px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 1079px;
  min-height: 381px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 9px;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 46px 34px 0 332px;
}

.u-section-1 .u-image-2 {
  width: 248px;
  height: 248px;
  margin: -15px auto 0 26px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: -196px 69px 0 305px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  text-transform: none;
  margin: 55px auto 0 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -64px 390px 0 auto;
  padding: 11px 44px 12px;
}

.u-section-1 .u-group-3 {
  width: 1079px;
  min-height: 368px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin-left: 9px;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 12px 143px 0 437px;
}

.u-section-1 .u-image-3 {
  width: 251px;
  height: 251px;
  margin: 0 auto 0 23px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: -241px 45px 0 306px;
}

.u-section-1 .u-btn-5 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 12px 397px 0 auto;
  padding: 11px 44px 12px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  text-transform: none;
  margin: -4px auto 0 9px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 1079px;
  min-height: 345px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 42px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin-left: 9px;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-image-4 {
  width: 260px;
  height: 260px;
  margin: 38px auto 0 22px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1rem;
  margin: -242px 48px 0 303px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -245px 119px 0 374px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  text-transform: none;
  margin: 271px auto 0 9px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -72px 402px 0 auto;
  padding: 11px 44px 12px;
}

.u-section-1 .u-group-5 {
  width: 1079px;
  min-height: 330px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 31px auto 60px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin-left: 9px;
  margin-right: auto;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 12px 69px 0 361px;
}

.u-section-1 .u-image-5 {
  width: 251px;
  height: 251px;
  margin: -16px auto 0 22px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1rem;
  margin: -235px 48px 0 303px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  text-transform: none;
  margin: 48px auto 0 11px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -65px 403px 0 auto;
  padding: 11px 44px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -249px;
    margin-right: 22px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -264px;
    margin-right: 48px;
    margin-left: 251px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 234px;
    margin-right: 254px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -9px;
  }

  .u-section-1 .u-group-2 {
    min-height: 377px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-right: 22px;
    margin-left: 163px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -233px;
    margin-right: 22px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 93px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -103px;
    margin-right: 263px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 32px;
    min-height: 374px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 6px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 35px;
    margin-left: 308px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -206px;
    margin-right: 9px;
    margin-left: 296px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-right: 252px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -13px;
    margin-left: 16px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 32px;
    min-height: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    width: 268px;
    height: 268px;
    margin-top: 45px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -225px;
    margin-right: 13px;
    margin-left: 292px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -283px;
    margin-right: 29px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 317px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -74px;
    margin-right: 269px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 32px;
    margin-bottom: 44px;
    min-height: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 32px;
    margin-right: 25px;
    margin-left: 226px;
  }

  .u-section-1 .u-image-5 {
    width: 259px;
    height: 259px;
    background-position: 50% 50%;
    margin-top: 19px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -259px;
    margin-right: 10px;
    margin-left: 295px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 69px;
    margin-left: 8px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -72px;
    margin-right: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2289px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
    height: 230px;
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 245px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5625rem;
    margin-top: 0;
    margin-right: 43px;
    margin-left: 283px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 2px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5625rem;
    margin-top: -2px;
    margin-right: 43px;
    margin-left: 283px;
  }

  .u-section-1 .u-image-2 {
    width: 230px;
    height: 230px;
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 14px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-right: 43px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5625rem;
    margin-top: 0;
    margin-right: 44px;
    margin-left: 282px;
  }

  .u-section-1 .u-image-3 {
    width: 230px;
    height: 230px;
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 241px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    margin-right: 32px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-image-4 {
    width: 230px;
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5625rem;
    margin-top: 0;
    margin-right: 44px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    margin-right: 49px;
  }

  .u-section-1 .u-group-5 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5625rem;
    margin-top: 0;
    margin-right: 38px;
    margin-left: 288px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 11px;
    margin-left: 239px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 0;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    height: 168px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 167px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 6px;
    margin-left: 140px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-right: 6px;
    margin-left: 140px;
  }

  .u-section-1 .u-image-2 {
    width: 168px;
    height: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    margin-right: 6px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-right: 19px;
    margin-left: 167px;
  }

  .u-section-1 .u-image-3 {
    width: 168px;
    height: 168px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 168px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 167px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 19px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-right: 10px;
    margin-left: 177px;
  }

  .u-section-1 .u-image-5 {
    width: 167px;
    height: 167px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.75rem;
    margin-right: 10px;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    width: auto;
    font-weight: 700;
    margin-top: 34px;
    margin-right: 9px;
    margin-left: 82px;
  }

  .u-section-1 .u-image-1 {
    width: 73px;
    height: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -70px;
    margin-right: 6px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.9375rem;
    margin-top: -68px;
    margin-right: 19px;
    margin-left: 82px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    font-weight: 700;
    width: auto;
    margin: 41px 4px 0 87px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.9375rem;
    margin-right: 33px;
    margin-left: 116px;
  }

  .u-section-1 .u-image-2 {
    width: 90px;
    height: 90px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -57px;
    margin-right: 9px;
    margin-left: 86px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-3 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    font-weight: 700;
    width: auto;
    margin: 43px 2px 0 89px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.9375rem;
    margin-right: 18px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-3 {
    width: 89px;
    height: 90px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -57px;
    margin-right: 9px;
    margin-left: 86px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -80px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-4 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.625rem;
    font-weight: 700;
    width: auto;
    margin: 43px 2px 0 89px;
  }

  .u-section-1 .u-image-4 {
    width: 89px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -57px;
    margin-right: 9px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.9375rem;
    margin-top: -101px;
    margin-right: 18px;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -74px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.625rem;
    font-weight: 700;
    width: auto;
    margin: 43px 2px 0 89px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.9375rem;
    margin-right: 18px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-5 {
    width: 89px;
    height: 89px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -57px;
    margin-right: 9px;
    margin-left: 86px;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.625rem;
  }
}.u-section-2 {
  background-image: linear-gradient(#478ac9, #adf6f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 1361px;
}

.u-section-2 .u-group-1 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 47px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 274px;
  height: 274px;
  background-position: 50% 50%;
  margin: 22px auto 0 9px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -236px 229px 0 419px;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: normal;
  font-style: normal;
}

.u-section-2 .u-group-2 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 47px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 274px;
  height: 274px;
  background-position: 50% 50%;
  margin: 22px auto 0 9px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -236px 229px 0 419px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-2 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: normal;
  font-style: normal;
}

.u-section-2 .u-group-3 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 47px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 274px;
  height: 274px;
  background-position: 50% 50%;
  margin: 22px auto 0 9px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -236px 229px 0 419px;
}

.u-section-2 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-6 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: normal;
  font-style: normal;
}

.u-section-2 .u-group-4 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 47px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 274px;
  height: 274px;
  background-position: 50% 50%;
  margin: 22px auto 0 9px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -236px 229px 0 419px;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-8 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-2 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: normal;
  font-style: normal;
}

.u-section-2 .u-group-5 {
  width: 1079px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(rgba(146,202,202,0.86), rgba(129,159,159,0.86));
  margin: 47px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 274px;
  height: 274px;
  background-position: 50% 50%;
  margin: 22px auto 0 9px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -236px 229px 0 419px;
}

.u-section-2 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-style: normal;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-10 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-2 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none solid rgb(242, 242, 242);
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 6px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -277px;
    margin-right: 154px;
    margin-left: 353px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 6px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -277px;
    margin-right: 154px;
    margin-left: 353px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -277px;
    margin-right: 154px;
    margin-left: 353px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 6px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -277px;
    margin-right: 154px;
    margin-left: 353px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 6px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -277px;
    margin-right: 154px;
    margin-left: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-2 .u-group-1 {
    min-height: 215px;
    width: 600px;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5625rem;
    margin-top: -153px;
    margin-right: 40px;
    margin-left: 181px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    width: auto;
    margin: 104px 420px 0 9px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    padding: 0;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -73px 117px 0 auto;
    padding: 11px 44px 12px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5625rem;
    font-weight: 700;
    font-style: italic;
    width: auto;
    margin: -99px 101px 0 254px;
  }

  .u-section-2 .u-group-2 {
    min-height: 217px;
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-image-2 {
    width: 138px;
    height: 138px;
    margin-top: 30px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5625rem;
    margin-top: -154px;
    margin-right: 57px;
    margin-left: 208px;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    width: auto;
    margin: 115px 399px 0 9px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.25rem;
    padding: 0;
  }

  .u-section-2 .u-btn-4 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -78px 124px 0 auto;
    padding: 11px 44px 12px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5625rem;
    font-weight: 700;
    font-style: italic;
    width: auto;
    margin: -104px 122px 0 273px;
  }

  .u-section-2 .u-group-3 {
    min-height: 217px;
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-image-3 {
    width: 141px;
    height: 141px;
    margin-top: 26px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5625rem;
    margin-top: -143px;
    margin-right: 35px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-8 {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    width: auto;
    margin: 103px 399px 0 9px;
  }

  .u-section-2 .u-btn-5 {
    font-size: 1.25rem;
    padding: 0;
  }

  .u-section-2 .u-btn-6 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -73px 118px 0 auto;
    padding: 11px 44px 12px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5625rem;
    font-weight: 700;
    font-style: italic;
    width: auto;
    margin: -100px 109px 0 259px;
  }

  .u-section-2 .u-group-4 {
    min-height: 217px;
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-image-4 {
    width: 141px;
    height: 141px;
    margin-top: 27px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5625rem;
    margin-top: -141px;
    margin-right: 35px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-11 {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    width: auto;
    margin: 101px 399px 0 9px;
  }

  .u-section-2 .u-btn-7 {
    font-size: 1.25rem;
    padding: 0;
  }

  .u-section-2 .u-btn-8 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -75px 115px 0 auto;
    padding: 11px 44px 12px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5625rem;
    font-weight: 700;
    font-style: italic;
    width: auto;
    margin: -99px 92px 0 254px;
  }

  .u-section-2 .u-group-5 {
    min-height: 215px;
    width: 600px;
    margin: 30px auto 42px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-image-5 {
    width: 140px;
    height: 140px;
    margin-top: 33px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.5625rem;
    margin-top: -154px;
    margin-right: 34px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-14 {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    width: auto;
    margin: 108px 399px 0 9px;
  }

  .u-section-2 .u-btn-9 {
    font-size: 1.25rem;
    padding: 0;
  }

  .u-section-2 .u-btn-10 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -78px 118px 0 auto;
    padding: 11px 44px 12px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.5625rem;
    font-weight: 700;
    font-style: italic;
    width: auto;
    margin: -96px 118px 0 286px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 147px;
    height: 151px;
    margin-top: 26px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -151px;
    margin-right: 6px;
    margin-left: 167px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 101px;
    margin-right: 334px;
    margin-left: 5px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -68px;
    margin-right: 101px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -100px;
    margin-right: 84px;
    margin-left: 211px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 133px;
    height: 133px;
    margin-top: 42px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -149px;
    margin-right: 24px;
    margin-left: 181px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 104px;
    margin-right: 337px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -71px;
    margin-right: 91px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -103px;
    margin-right: 89px;
    margin-left: 246px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 29px;
    min-height: 206px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    width: 127px;
    height: 131px;
    margin-top: 29px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -138px;
    margin-right: 12px;
    margin-left: 160px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 96px;
    margin-right: 337px;
    margin-left: 7px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 91px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 84px;
    margin-left: 224px;
  }

  .u-section-2 .u-group-4 {
    min-height: 209px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    width: 112px;
    height: 116px;
    margin-top: 41px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -127px;
    margin-right: 10px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 89px;
    margin-right: 338px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -67px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 66px;
    margin-left: 220px;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: 30px;
    min-height: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    width: 123px;
    height: 123px;
    margin-top: 19px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -131px;
    margin-right: 11px;
    margin-left: 161px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 95px;
    margin-right: 338px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -71px;
    margin-right: 95px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -95px;
    margin-right: 97px;
    margin-left: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 31px;
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 94px;
    height: 94px;
    margin-top: 17px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.9375rem;
    margin-top: -86px;
    margin-right: 35px;
    margin-left: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 62px;
    margin-right: 215px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -55px;
    margin-right: 46px;
    padding: 5px 14px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.8125rem;
    margin-top: -65px;
    margin-right: 62px;
    margin-left: 167px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 26px;
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    width: 78px;
    height: 78px;
    margin-top: 30px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.9375rem;
    margin-top: -85px;
    margin-right: 9px;
    margin-left: 109px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 64px;
    margin-right: 213px;
    margin-left: 8px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.875rem;
    margin-top: -56px;
    margin-right: 52px;
    padding: 5px 18px 5px 17px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.8125rem;
    margin-top: -62px;
    margin-right: 68px;
    margin-left: 168px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 26px;
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    width: 89px;
    height: 89px;
    margin-top: 23px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.9375rem;
    margin-top: -90px;
    margin-right: 30px;
    margin-left: 134px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 65px;
    margin-right: 175px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-6 {
    font-size: 0.875rem;
    margin-top: -54px;
    margin-right: 46px;
    padding: 5px 22px 6px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.8125rem;
    margin-top: -67px;
    margin-right: 80px;
    margin-left: 184px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 26px;
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    width: 82px;
    height: 82px;
    margin-top: 33px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.9375rem;
    margin-top: -89px;
    margin-right: 8px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 62px;
    margin-right: 174px;
  }

  .u-section-2 .u-btn-7 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-8 {
    font-size: 0.875rem;
    margin-top: -59px;
    margin-right: 57px;
    padding: 5px 17px 5px 16px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.8125rem;
    margin-top: -62px;
    margin-right: 63px;
    margin-left: 159px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 26px;
    margin-bottom: 31px;
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    width: 82px;
    height: 82px;
    margin-top: 33px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.9375rem;
    margin-top: -90px;
    margin-right: 16px;
    margin-left: 116px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 64px;
    margin-right: 173px;
    margin-left: 8px;
  }

  .u-section-2 .u-btn-9 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-10 {
    font-size: 0.875rem;
    margin-top: -57px;
    margin-right: 52px;
    padding: 5px 18px 6px 17px;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.8125rem;
    margin-top: -63px;
    margin-right: 69px;
    margin-left: 169px;
  }
}