.u-section-1 {
  background-image: linear-gradient(#4c7397, #136c80);
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-group-1 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: 76px auto 0 133px;
}

.u-section-1 .u-container-layout-1 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 151px;
  height: 151px;
  background-image: url("images/Windows10.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  transition-duration: 0.5s;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 40px 16px 0 163px;
}

.u-section-1 .u-image-2 {
  width: 151px;
  height: 151px;
  background-image: url("images/Windows10.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -57px auto 0 7px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -102px 21px 0 211px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 7px 41px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-2 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: -183px auto 0 588px;
}

.u-section-1 .u-container-layout-3 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 151px;
  height: 151px;
  background-image: url("images/office2016nh.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-5 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 32px 0 179px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 39px 27px 0 193px;
}

.u-section-1 .u-image-4 {
  width: 151px;
  height: 151px;
  background-image: url("images/office2016nh.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -57px auto 0 7px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -102px 21px 0 211px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 7px 41px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-3 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 133px;
}

.u-section-1 .u-container-layout-5 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-5 {
  width: 151px;
  height: 151px;
  background-image: url("images/Anhdv-Logo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-9 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 0 0 158px;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 38px 5px 0 158px;
}

.u-section-1 .u-image-6 {
  width: 151px;
  height: 151px;
  background-image: url("images/Anhdv-Logo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -56px auto 0 7px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -101px 13px 0 220px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 5px 41px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-4 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: -183px auto 0 588px;
}

.u-section-1 .u-container-layout-7 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-7 {
  width: 151px;
  height: 151px;
  background-image: url("images/Driver.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-13 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 23px 0 188px;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 39px 10px 0 200px;
}

.u-section-1 .u-image-8 {
  width: 151px;
  height: 151px;
  background-image: url("images/Driver.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -57px auto 0 7px;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -102px 21px 0 211px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 7px 42px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-5 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 133px;
}

.u-section-1 .u-container-layout-9 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-9 {
  width: 151px;
  height: 151px;
  background-image: url("images/icon_TienIch.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-17 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 15px 0 175px;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 39px 18px 0 175px;
}

.u-section-1 .u-image-10 {
  width: 151px;
  height: 151px;
  background-image: url("images/icon_TienIch.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -57px auto 0 7px;
}

.u-section-1 .u-text-20 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -102px 21px 0 211px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 7px 41px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-5 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-6 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-11 {
  width: 151px;
  height: 151px;
  background-image: url("images/Windows10.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-21 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-22 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-7 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-12 {
  width: 151px;
  height: 151px;
  background-image: url("images/office2016nh.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-23 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-24 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-7 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-8 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-13 {
  width: 151px;
  height: 151px;
  background-image: url("images/Anhdv-Logo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-25 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-26 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-8 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-9 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-14 {
  width: 151px;
  height: 151px;
  background-image: url("images/Driver.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-27 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-28 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-9 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-10 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-15 {
  width: 151px;
  height: 151px;
  background-image: url("images/icon_TienIch.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-29 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-30 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-10 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-11 {
  width: 420px;
  min-height: 183px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  margin: -183px 132px 60px auto;
}

.u-section-1 .u-container-layout-16 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-16 {
  width: 151px;
  height: 151px;
  background-image: url("images/Adobe.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-31 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 15px 0 175px;
}

.u-section-1 .u-text-32 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-17 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-33 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 39px 27px 0 187px;
}

.u-section-1 .u-image-17 {
  width: 151px;
  height: 151px;
  background-image: url("images/Adobe.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -57px auto 0 7px;
}

.u-section-1 .u-text-34 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: -102px 21px 0 211px;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 7px 41px 0 auto;
  padding: 10px 29px 10px 27px;
}

.u-section-1 .u-icon-11 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-group-12 {
  width: 420px;
  animation-duration: 1000ms;
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 60px auto 0 133px;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-18 {
  width: 151px;
  height: 151px;
  background-image: url("images/Adobe.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 15px auto 0 7px;
}

.u-section-1 .u-text-35 {
  font-size: 1.8125rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: -109px 8px 0 158px;
}

.u-section-1 .u-text-36 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-family: Boogaloo;
  margin: 0 32px 0 211px;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  font-size: 1.75rem;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-icon-12 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 65px;
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 488px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 488px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-15 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 32px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-19 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-7 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-8 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-9 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-10 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-11 {
    margin-right: 32px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-33 {
    width: 268px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-17 {
    margin-top: -48px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: -110px;
    margin-right: 41px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-28 {
    margin-top: 12px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-12 {
    margin-left: 33px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-1 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 28px;
    margin-left: 217px;
  }

  .u-section-1 .u-group-6 {
    min-height: 191px;
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -138px;
    margin-right: 2px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-right: 27px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-16 {
    font-size: 1.5625rem;
  }

  .u-section-1 .u-btn-17 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 44px 0 auto;
    padding: 10px 29px 10px 27px;
  }

  .u-section-1 .u-group-7 {
    min-height: 183px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -127px;
    margin-right: 17px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: 9px;
    margin-left: 212px;
  }

  .u-section-1 .u-btn-19 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 44px 0 auto;
    padding: 10px 29px 10px 27px;
  }

  .u-section-1 .u-group-8 {
    min-height: 183px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-image-13 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -125px;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-right: 17px;
    margin-left: 202px;
  }

  .u-section-1 .u-btn-21 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 54px 0 auto;
    padding: 10px 29px 10px 27px;
  }

  .u-section-1 .u-group-9 {
    min-height: 183px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-image-14 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -127px;
    margin-right: 20px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-right: 7px;
    margin-left: 212px;
  }

  .u-section-1 .u-btn-23 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 44px 0 auto;
    padding: 10px 29px 10px 27px;
  }

  .u-section-1 .u-group-10 {
    min-height: 183px;
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-image-15 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -127px;
    margin-right: 9px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-right: 5px;
    margin-left: 212px;
  }

  .u-section-1 .u-btn-25 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 44px 0 auto;
    padding: 10px 29px 10px 27px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 0;
  }

  .u-section-1 .u-image-17 {
    margin-top: 0;
  }

  .u-section-1 .u-text-34 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-top: 0;
  }

  .u-section-1 .u-group-12 {
    min-height: 183px;
    margin-top: 32px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -127px;
    margin-right: 9px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-right: 5px;
    margin-left: 212px;
  }

  .u-section-1 .u-btn-30 {
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 44px 0 auto;
    padding: 10px 29px 10px 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-6 {
    min-height: 183px;
    margin-top: 78px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 16px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 159px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 14px;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 15px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 17px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -131px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -1px;
    margin-right: 21px;
    margin-left: 198px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 10px;
    margin-right: 55px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 9px;
  }

  .u-section-1 .u-group-12 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-1 .u-group-1 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-right: 13px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 46px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 36px;
    margin-right: 15px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-2 {
    width: 127px;
    height: 127px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -94px;
    margin-right: 22px;
    margin-left: 192px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-right: 38px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-2 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-right: 13px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 46px;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 36px;
    margin-right: 28px;
    margin-left: 152px;
  }

  .u-section-1 .u-image-4 {
    width: 127px;
    height: 127px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -94px;
    margin-right: 45px;
    margin-left: 169px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
    margin-right: 38px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-3 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 44px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 39px;
    margin-right: 3px;
    margin-left: 139px;
  }

  .u-section-1 .u-image-6 {
    width: 127px;
    height: 127px;
    margin-top: -46px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -91px;
    margin-right: 32px;
    margin-left: 180px;
  }

  .u-section-1 .u-btn-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 8px;
    margin-right: 32px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-4 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-right: 13px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 46px;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-10 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 36px;
    margin-right: 4px;
    margin-left: 153px;
  }

  .u-section-1 .u-image-8 {
    width: 127px;
    height: 127px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -94px;
    margin-right: 36px;
    margin-left: 178px;
  }

  .u-section-1 .u-btn-11 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 10px;
    margin-right: 38px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-5 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-right: 13px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 44px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-13 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 36px;
    margin-right: 15px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-10 {
    width: 127px;
    height: 127px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -92px;
    margin-right: 37px;
    margin-left: 182px;
  }

  .u-section-1 .u-btn-14 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 8px;
    margin-right: 38px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-6 {
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.375rem;
    margin-top: -123px;
    margin-right: 15px;
    margin-left: 137px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.375rem;
    margin-right: 15px;
    margin-left: 168px;
  }

  .u-section-1 .u-btn-16 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 45px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 25px;
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-12 {
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.375rem;
    margin-top: -124px;
    margin-right: 20px;
    margin-left: 154px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.375rem;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 173px;
  }

  .u-section-1 .u-btn-18 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 25px;
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.375rem;
    margin-top: -123px;
    margin-right: 11px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.375rem;
    margin-right: 15px;
    margin-left: 168px;
  }

  .u-section-1 .u-btn-20 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-21 {
    margin-right: 45px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 31px;
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    width: 135px;
    height: 135px;
    margin-top: 14px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.375rem;
    margin-top: -121px;
    margin-right: 26px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1.375rem;
    margin-right: 5px;
    margin-left: 178px;
  }

  .u-section-1 .u-btn-22 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 35px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 25px;
    min-height: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-15 {
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1.375rem;
    margin-top: -121px;
    margin-right: 16px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.375rem;
    margin-right: 4px;
    margin-left: 179px;
  }

  .u-section-1 .u-btn-24 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 34px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-group-11 {
    min-height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-16 {
    width: 135px;
    height: 135px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -90px;
    margin-right: 13px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.375rem;
    width: auto;
    margin-right: 44px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-26 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1.375rem;
    width: auto;
    margin-top: -4px;
    margin-right: 15px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-17 {
    width: 127px;
    height: 127px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 37px;
    margin-left: 182px;
  }

  .u-section-1 .u-btn-27 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-28 {
    margin-right: 38px;
    padding: 5px 17px 6px;
  }

  .u-section-1 .u-group-12 {
    margin-top: 25px;
    min-height: 162px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-18 {
    width: 135px;
    height: 135px;
    margin-top: 16px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1.375rem;
    margin-top: -121px;
    margin-right: 27px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1.375rem;
    margin-right: 11px;
    margin-left: 172px;
  }

  .u-section-1 .u-btn-29 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 41px;
    padding-left: 12px;
    padding-right: 12px;
  }
}